/*
body {
    background: #f0ead6;
}

header {
    background: #A466AF;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 4px solid #4B4B4B;
    z-index: 100;
}

logo {
    float: left;
    padding: 2%;
}

logo img {
    max-width: 100%;
    height: auto;
}

nav {
    float: right;
    padding: 30px;
}

.nav-ul {
    list-style: none;
}

.nav-li {
    display: inline-block;
    padding: 10px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}

.nav-link:hover {
    color: #4B4B4B;
}

.nav-active-link {
    color: #4B4B4B;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}

.nav-active-link:hover {
    color: #ffffff;
}
*/

*{
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    overflow: hidden;
    height: 70 px;
    line-height: 70px;
    background: #A466AF;
    border-bottom: 4px solid #4B4B4B;
    position: fixed;
}

.logo {
    width: 120px;
    float: left;
}

.navmenu {
    float: right;
}

.navmenu li {
    float: left;
    width: 120px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    list-style: none;
}

.navmenu li a {
    color: #4B4B4B;
    text-decoration: none;
    font-family: calibri;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

.navmenu li:hover {
    background: #4B4B4B;
}

.navmenu li a:hover {
    background: #fff;
}

.page-contents {
    width: 100%;
    margin: 0 auto;
    padding-top: 120px;
} 