<!--This is the header-->
<meta charset="utf-8" />
<meta name-"viewport" content="width=device-width, initial-scale=1.0">
<nav>
    <ul class="nav-ul">
        <li class="nav-li">
            <a href="index.html" class="nav-active-link">IPI</a>
        </li>
        <li class="nav-li">
            <a href="#" class="nav-link">Research</a>
        </li>
        <li class="nav-li">
            <a href="#" class="nav-link">People</a>
        </li>
        <li class="nav-li">
            <a href="#" class="nav-link">Manual</a>
        </li>
    </ul>
</nav>